<script src="{{ root_url }}/javascripts/slash.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6a5ef2081fb49e0f52664922edcbbe58' type='text/javascript'%3E%3C/script%3E"));
</script>

{% include fancybox.html %} <!-- Delete or comment this line to disable Fancybox -->
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}